<nav>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="#">Accueil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Réalisations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
  </ul>
</nav>
