<app-my-nav></app-my-nav>
<div class="alert alert-primary" role="alert">
    Il s'est passé {{compteur}} secondes depuis l'ouverture de la page. <button class="btn btn-primary" (click)="reset()">reset</button>
</div>
