<div *ngIf="contactSuccess" class="alert alert-success" role="alert">
  Merci de nous avoir contacté
</div>

<div *ngIf="!contactSuccess && contactSubmit" class="alert alert-danger" role="alert">
  Une erreur s'est produite
</div>

<form class="col-6" (ngSubmit)="postContactForm()" *ngIf="!contactSuccess">
  <div class="input-group">
    <input type="email" [ngClass]="{'form-control' : true, 'is-invalid': this.contactMessage.email && !isEmailValid()}" placeholder="email" [(ngModel)]="contactMessage.email" name="email">
  </div>
  <div class="input-group">
    <textarea [ngClass]="{'form-control' : true, 'is-invalid': this.contactMessage.message && !isMessageValid()}" name="message" id="" cols="30" rows="10"  placeholder="Votre message" [(ngModel)]="contactMessage.message"></textarea>
  </div>
  <div class="input-group">
    <button class="btn btn-primary" [disabled]="!isMessageValid() || !isEmailValid()" type="submit">Envoyer</button>
  </div>

</form>
