<app-my-nav></app-my-nav>

<div class="alert alert-primary" role="alert">
    Il s'est passé {{compteur}} secondes depuis l'ouverture de la page. <button class="btn btn-primary" (click)="reset()">reset</button>
</div>

<ul class="list-group col-3">
  <li [ngClass]="{'active' : fruits.length>0, 'list-group-item': true}" >Liste de fruits (avec *ngFor)</li>
  <li class="list-group-item" *ngFor="let fruit of fruits">{{fruit}}</li>
</ul>
