<h1>{{blogPost.title}} (#{{blogPost.id}})</h1>
<p>{{blogPost.likes}} persons liked this post</p>
<p>{{blogPost.body}}</p>

<app-blog-post-comment [blogPost]="blogPost" ([likesChanged])="adaptLikes($event)"></app-blog-post-comment>
