<nav [ngStyle]="{'background-color':isAuth === true ? '#333' : '#000' }">
  <ul class="nav justify-content-end" >
    <li class="nav-item">
      <a class="nav-link" routerLink="/"  routerLinkActive="active">Accueil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/blog-post/13" routerLinkActive="active">Blog post 13</a>
    </li>
    <li class="nav-item" *ngIf="isAuth === false">
      <a class="nav-link" href="#" (click)="logIn()">logIn</a>
    </li>
    <li class="nav-item" *ngIf="isAuth === true">
      <a class="nav-link" href="#" (click)="logOff()">log off</a>
    </li>
  </ul>
</nav>
