<div class="col-4">
  <button class="float-right btn text-white btn-danger" (click)="like()"> <i class="fa fa-heart"></i> Like</button>

  <h1>Commentaires sur le post {{blogPost.title}}</h1>

  <div class="card" *ngFor="let comment of comments">
    <div class="card-body">
      <div class="row">
        <div class="col-md-2">
          <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
          <p class="text-secondary text-center">{{comment.date | date: 'medium'}}</p>
        </div>
        <div class="col-md-10">
          <p>
            <a class="float-left" href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>{{comment.author}}</strong></a>

          </p>
          <div class="clearfix"></div>
          <p>{{comment.body}}</p>
          <p>
            <a class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i> Reply</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <h2>Ajouter un commentaire</h2>
    <form [formGroup]="commentForm" (ngSubmit)="onSubmitForm()">
      <div class="form-group">
        <label for="author">Nom</label>
        <input type="text" id="author" class="form-control" formControlName="author">
      </div>
      <div class="form-group">
        <label for="message">Nom</label>
        <textarea id="message" class="form-control" formControlName="message"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Soumettre</button>
    </form>
  </div>
</div>
